<div class="post-share-container border-box">
    <ul class="share-list-wrap border-box">
        <li class="x share-item border-box flex-center tooltip"
            data-tooltip-content="<%= __('post.share.x') %>"
        >
            <i class="fa-brands fa-x"></i>
        </li>
    </ul>
</div>
